
body{
    /* background-color: black; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-image: url(../img/image.jpg);
background-size: cover;
/* background-repeat: no-repeat; */
background-position: center;

}
body,html{
    display: block;
   height: 100%;
   width: 100%;
   transform: translate3d(0, 0, 0);
}
.content{
    /* top:5px;
    left: 50% ;
    
    transform: translateX(-50%) ; */
    width: 70%;
    margin: auto;
}
.content h1{
    font-size: 5rem;
    background: #121FCF;
background: linear-gradient(to right, #146C94 20%, #F6F1F1 80%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
}
.carD{
    background-color: #146b94c2;
    padding: 20px;
    color: #fff;
    display: none;
}
.quiz,.final{
    background-color: #146b94c2;
    padding: 20px;
    color: #fff;
    display: none;
}
.par{
    margin-bottom: 0px !important;
    padding: 0px !important;
}
input[type=number] {
    color: #fff !important;
}
.show{
    display: block;
}
.alert,.alertAns,#correct,#incorrect{
    display: none;
}
.ques{
    width: 75%;
}
#categ , #numQes{
    background-color: #146b948a;
}

@media screen and (max-width:500px) {
    html{
        font-size: 14px;
    }
    .content h1{
        font-size: 3rem;
    }
    .content{
        width: 90%;
    }
    .carD{
        font-size: 1rem;
    }
    .ques{
        width: 90%;
        font-size: 1rem;
    }
    
}