body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.content{
    top:5px;
    left: 50% ;
    width: 70%;
    transform: translateX(-50%) ;
}
.content h1{
    font-size: 5rem;
    background: #121FCF;
background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
}
.carD{
    background-color: rgba(60, 55, 55, 0.726);
    padding: 20px;
    color: #fff;
    display: none;
}
.quiz,.final{
    background-color: rgba(60, 55, 55, 0.726);
    padding: 20px;
    color: #fff;
    display: none;
}
.par{
    margin-bottom: 0px !important;
    padding: 0px !important;
}
input[type=number] {
    color: #fff !important;
}
.show{
    display: block;
}
.alert,.alertAns,#correct,#incorrect{
    display: none;
}
.ques{
    width: 75%;
}
@media screen and (max-width:500px) {
    html{
        font-size: 14px;
    }
    .content{
        width: 90%;
    }
    .carD{
        font-size: 1rem;
    }
    .ques{
        width: 90%;
        font-size: 1rem;
    }
    
}